
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>Error: You need to select the medication type.</h1>
<a asp-controller="MBMedicationType" asp-action="Index"><h2>Click here</h2></a>

